
.project-grid{
    margin: 0px auto 6rem;
    display: grid;
    max-width: calc(1280px + 2rem);
    padding: 0px 1rem;
    width: 100%;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 2rem;   
}